body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#home{
    background-image: url(../imagens/bk.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Serif', serif;
    display: flex;
    text-align: center;
}

#home h1 {
    color: #daa520;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

#home p {
    color: #bbb5a8;

}

#home  div img{
    width: 20%;
    align-items: center;
    margin-left: 40%;
    
}

#plataformas {

    background: linear-gradient(0deg, #0F0F11 0%, rgba(15, 15, 17, 0.00) 505%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#plataformas h1 {
    font-family: 'Noto Serif', serif;
    color: #bbb5a8;
    font-size: 30px;

}

#plataformas a {
    margin: 40px;
    

}


h1 {
    font-weight: 900;
    color: #000;
}


.conteudo {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: #fff;
}


#personagens {
    font-family: 'Noto Serif', serif;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 11%, rgba(61, 51, 26, 1) 76%, rgba(142, 119, 62, 1) 100%, rgba(0, 0, 0, 1) 100%, rgba(247, 209, 108, 1) 100%);
    color: #daa520; 
}


#livros {
    font-family: 'Noto Serif', serif;
    display: flex;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 11%, rgba(61, 51, 26, 1) 76%, rgba(142, 119, 62, 1) 100%, rgba(0, 0, 0, 1) 100%, rgba(247, 209, 108, 1) 100%);
    text-align: center;
    padding-bottom:  40px;
}

#livros h1 {

    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #daa520; 
    font-size: 30px;
}

#livros p {
    color: #bbb5a8;
}

.imglivro{
    margin-top: 50px;
    margin-right: 10px;
    padding-left: 10px;
}
#contato{
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, #0F0F11 0%, rgba(15, 15, 17, 0.00) 505%);
}

#contato p {
    margin-top: 20px;
    margin-left: 50px;
    padding: 20px;
    font-size: 15px;
    font-family: 'Noto Serif', serif;
    color: #bbb5a8;
}
